.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
}

.custom-carousel {
    width: 100%;
    height: 400px;
    position: relative;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.custom-prev-btn, .custom-next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px 20px;
    color: white;
}

.custom-prev-btn {
    left: -70px;
}

.custom-next-btn {
    right: -70px;
}
